Source: spreedbox
Section: utils
Priority: extra
Maintainer: Simon Eisenmann <simon@struktur.de>
Build-Depends: debhelper (>= 8), dh-systemd, dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.3

Package: spreedbox
Architecture: all
Depends:
 spreedbox-base (= ${binary:Version}),
 ${misc:Depends}
Description: Meta package to install Spreedbox
 Description: This a meta package to install Spreedbox components

Package: spreedbox-base
Architecture: all
Depends:
 libressl-apps,
 ${misc:Depends}
Description: Meta package to install Spreedbox base dependencies
 This is a meta package to install Spreedbox base dependencies

Package: spreedbox-odroidc
Architecture: all
Depends:
 spreedbox (= ${binary:Version}),
 spreedbox-base-odroidc (= ${binary:Version}),
 ${misc:Depends}
Description: Meta package to install Spreedbox ODROIDC dependencies
 This is a meta package to install Spreedbox ODROIDC dependencies

Package: spreedbox-base-odroidc
Architecture: all
Depends:
 spreedbox-base (= ${binary:Version}),
 ${misc:Depends}
Description: Meta package to install Spreedbox base ODROIDC dependencies
 This is a meta package to install Spreedbox base ODROIDC dependencies

Package: spreedbox-entropy
Architecture: all
Depends:
 ${misc:Depends},
 spreedbox-rng,
 rng-tools (>= 5)
Description: Service to ensure a system has entropy
 This package installs a service to ensure a system has entropy.

Package: spreedbox-failsafe-skip
Architecture: all
Depends:
 ${misc:Depends},
 upstart
Description: Service to allow a failsafe boot
 This package installs a service to allow a failsafe boot.

Package: spreedbox-ttys0
Architecture: all
Depends:
 ${misc:Depends}
Description: Service to maintain a getty on ttyS0
 This package installs a service to maintain a getty on ttyS0.

Package: spreedbox-ubuntu
Architecture: all
Depends:
 logrotate,
 spreedbox-confd,
 spreedbox-discoverd,
 spreedbox-entropy (= ${binary:Version}),
 spreedbox-failsafe-skip,
 spreedbox-gnatsd,
 spreedbox-ledd,
 spreedbox-letsencrypt,
 spreedbox-networkd,
 spreedbox-owncloud,
 spreedbox-servicecontrold,
 spreedbox-setup,
 spreedbox-ttys0,
 spreedbox-ubuntu-odroidc (= ${binary:Version}),
 spreedbox-usbmount,
 spreedbox-webrtc,
 spreedbox-webserver,
 spreedbox-wland,
 ${misc:Depends},
Description: Meta package to install all Spreedbox components on Ubuntu
 This meta package installs Spreedbox components on ubuntu.

Package: spreedbox-ubuntu-odroidc
Architecture: all
Depends:
 openntpd,
 spreedbox-odroidc (= ${binary:Version}),
 spreedbox-odroidc-boot-linux,
 zram-config,
 ${misc:Depends}
Description: Meta package to install Spreedbox ODROIDC on Ubuntu
 This meta package installs all components to run Spreedbox ODROIDC on Ubuntu.
