Source: spreedbox
Section: utils
Priority: extra
Maintainer: Simon Eisenmann <simon@struktur.de>
Build-Depends: debhelper (>= 8), dh-systemd, dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.3

Package: spreedbox
Architecture: all
Depends:
 spreedbox-base (= ${binary:Version}),
 spreedbox-leds (= ${binary:Version}),
 spreedbox-rng (= ${binary:Version}),
 ${misc:Depends}
Description: Meta package to install Spreedbox
 Description: This a meta package to install Spreedbox components

Package: spreedbox-base
Architecture: all
Depends:
 spreedbox-snapstore-policy,
 libressl-apps,
 ${misc:Depends}
Description: Meta package to install Spreedbox base dependencies
 This is a meta package to install Spreedbox base dependencies

Package: spreedbox-leds
Architecture: all
Depends:
 spreedbox-base (= ${binary:Version}),
 dotstar-leds (>= 0.0.2),
 ${misc:Depends}
Description: LED control for the Spreedbox
 This package provides dotstar LED patters used by the Spreedbox

Package: spreedbox-rng
Architecture: all
Depends:
 spreedbox-base (= ${binary:Version}),
 rng-tools,
 ${misc:Depends}
Description: RNG for the Spreedbox
 This package provides RNG support for the Spreedbox

Package: spreedbox-entropy
Architecture: all
Depends:
 ${misc:Depends},
 rng-tools
Description: Service to ensure a system has entropy
 This package installs a service to ensure a system has entropy.

Package: spreedbox-failsafe-skip
Architecture: all
Depends:
 ${misc:Depends},
 upstart
Description: Service to allow a failsafe boot.
 This package installs a service to allow a failsafe boot.

Package: spreedbox-ttys0
Architecture: all
Depends:
 ${misc:Depends}
Description: Service to maintain a getty on ttyS0
 This package installs a service to maintain a getty on ttyS0.

Package: spreedbox-ubuntu
Architecture: all
Depends:
 ${misc:Depends},
 spreedbox,
 spreedbox-confd,
 spreedbox-discoverd,
 spreedbox-entropy,
 spreedbox-failsafe-skip,
 spreedbox-ledd,
 spreedbox-networkd,
 spreedbox-owncloud,
 spreedbox-setup,
 spreedbox-ttys0,
 spreedbox-wland
Description: Meta package to install a Spreedbox on Ubuntu
 This meta package installs all modules required to run a Spreedbox on Ubuntu.
