[Unit]
Description=Wait for Entropy
After=local-fs.target
Before=ubuntu-snappy.run-hooks.service

[Service]
Type=oneshot
ExecStart=/usr/lib/wait-for-entropy
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
